# SPDX-FileCopyrightText: 2025 The Project Authors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: my-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: my-app
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.container.port }}